/**CH01 - Resets**/
 /** CH02 - Color**/

 .navbar-inverse {
 	background-color: #e74c3c;
 	border-color: #e74c3c;
 }

.navbar-inverse .navbar-brand {
	color: black;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}
 /**CH03 - Page Structure**/
}

#login-btn {
	width: 70px ;
  	margin-left: auto ;
  	margin-right: auto ;
}



 /**CH04 - Header & Navigation**/
 /**CH05 - Content & Media**/
 /**CH06 - Footer**/
 /**CH07 - Miscellaneous**/


