/**CH01 - Resets**/
 /** CH02 - Color**/

 .navbar-inverse {
 	background-color: #e74c3c;
 	border-color: #e74c3c;
 }

.navbar-inverse .navbar-brand {
	color: black;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}
 /**CH03 - Page Structure**/
}

.login-btn {
	width: 200px ;
  	margin: auto;
  	text-align: center;
}

.example-chat-messages {
  font-size: 24pt;
  color: #fff;
}

.messagingBox {
  width:60%;
  margin:auto;
  padding:10px;
}

.jumbotron {
	width: 100%;
	height: 100%;
}

#initial{
	width: 100%;
	text-align: center;
}


body {
	background-repeat: no-repeat;
	background-size: 100%;
}

.btn {
	color: #E15944;
	background-color: #ffffff

}

.messagingBox{
	padding-top: 10%;

}

h1{
	color: #fff;
	font-size: 72pt;
}

 /**CH04 - Header & Navigation**/
 /**CH05 - Content & Media**/

 /**CH06 - Footer**/
 /**CH07 - Miscellaneous**/
